{% extends 'storage_rental/base.html' %}
{% load static %}

{% block header %}
<title>Self Storage - Анкета</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="card my-3">
      <div class="form-title">
        <h2 class="bold">Ваши данные</h2>
      </div>
      <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="row">
            {% for field in form  %}
                {% if field.name not in 'total_price,is_agree' %}
                <div class="my-2">
                    {{ field.label_tag }} {{ field }}
                    <span class="red">{{ field.errors }}</span>
                </div>
                {% elif field.name == 'is_agree' %}
                <div class="my-3">
                    {{ field }} {{ field.label_tag }}
                </div>
                {% else %}
                {{field}}
                {% endif%}
            {% endfor %}
            </div>

            <p class="my-3">
                <button class="btn btn-outline-dark"
                    data-bs-toggle="collapse"
                    href="#collapseConditions"
                    type="button"
                    aria-expanded="false"
                    aria-controls="collapseConditions"
                >
                    Условия
                </button>
            </p>
            <div class="collapse" id="collapseConditions">
                <div class="card card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                    accusamus terry richardson ad squid. Nihil anim keffiyeh
                    helvetica, craft beer labore wes anderson cred nesciunt
                    sapiente ea proident.
                </div>
            </div>

            <p class="my-4 float-end">
                <strong>Сумма заказа: <span id="total_price_label">0</span></strong>
            </p>

            <button class="btn btn-warning my-3" type="submit">
                Перейти к оплате
            </button>
        </form>

      </div>
    </div>


    <script>
        const totalPriceEl = document.querySelector("#total_price");
        const totalPriceLabelEl = document.querySelector("#total_price_label");

        totalPriceLabelEl.innerHTML = totalPriceEl.value;
    </script>
</div>

{% endblock %}