{% extends 'storage_rental/base.html' %}
{% load static %}

{% block header %}
  <title>Self Storage - Главная</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-providers/1.10.1/leaflet-providers.min.js" integrity="sha256-EV/ywRtxUOBICwOsLtPpYEONoBF6g+ShAcLX1Ts48GA=" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<div class="container my-3">
  <div class="card">
      <div class="form-title"><h2 class="bold">SelfStorage</h2></div>
      <div class="row">
          <div class="col-md-8 pl-3">
              <h3 class="my-4 mx-3">Хочешь арендовать бокс или сдать вещи на сезонное хранение?</h3>

              <h4 class="mx-3">Всего 4 простых <span class="badge bg-warning text-dark">шага</span>:</h4>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">1. Выберите необходимое на соответствующей вкладке</li>
                <li class="list-group-item">2. Укажите свои данные</li>
                <li class="list-group-item">3. Оплатите</li>
                <li class="list-group-item">4. Получите на почту QR код для доступа к складу</li>
              </ul>
          </div>

          <aside class="col-md-4 blog-sidebar my-3">

            <div class="p-3 mb-3 bg-warning rounded">
              <h4 class="font-italic"> О нас</h4>
              <p class="mb-0">Индивидуальные мини-склады для хранения в Воронеже. Нам доверяют вещи!</p>
            </div>

          </aside>
      </div>
      <div class="card-body">

            <h3 class="my-3"><span class="badge rounded-pill bg-warning text-dark">ОПИСАНИЕ</span> складов</h3>

            <div id="carouselCaptions" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                {% for storage in all_places %}
                  <div class="carousel-item{% if forloop.first %} active{% endif %}">
                    <img src="{{ storage.image }}" height="500px;" class="d-block w-100" alt="{{ storage.name }}">
                    <div class="carousel-caption d-none d-md-block caption-bg">
                      <h4 class="my-1">{{ storage.name }}, {{ storage.address }}</h4>
                      <p class="my-0">Стоимость за первый м²: {{ storage.base_price }}<br/></p>
                      <p class="my-0">Стоимость за каждый дополнительный м²: {{ storage.additional_price }}</p>
                    </div>
                  </div>
                {% endfor %}
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Предыдущий</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Следующий</span>
              </button>
            </div>

            <h3 class="my-3"><span class="badge rounded-pill bg-warning text-dark">КАРТА</span> складов</h3>

            <div id="map" style="height:400px"></div>

      </div>
  </div>


  {{ all_places|json_script:"places-geojson" }}

  <script type="text/javascript" src="{% static 'js/map_script.js'%}"></script>

 </div>





{% endblock  %}
