{% extends 'storage_rental/base.html' %}
{% load static %}

{% block content %}
 <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <div class="blog-post">
            <h2 class="blog-post-title">Как арендовать бокс в SelfStorage?</h2>
            <h4>Всего 4 простых <span class="badge badge-warning">шага:</span></h4>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">1. Выберите бокс онлайн или по телефону</li>
              <li class="list-group-item">2. Заключите договор и оплатите услугу</li>
              <li class="list-group-item">3. Получите код доступа к складу</li>
              <li class="list-group-item">4. Перевезите вещи на склад или закажите доставку</li>
            </ul>
            <p>Индивидуальные мини-склады для хранения в Воронеже. Нам доверяют вещи!</p>
            <hr>
            <blockquote>
            </blockquote>
            <h2>Карта <span class="badge badge-warning">СКЛАДОВ</span></h2>
          </div><!-- /.blog-post -->
        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">

          <div class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic"> О нас</h4>
            <p class="mb-0">SelfStorage – лидер российского рынка в сфере услуг индивидуального хранения. Свои вещи нам доверили уже более 21000 арендаторов!/</p>
          </div>

<!--          <div class="p-3">-->
<!--            <h4 class="font-italic">Elsewhere</h4>-->
<!--            <ol class="list-unstyled">-->
<!--              <li><a href="#">GitHub</a></li>-->
<!--              <li><a href="#">Twitter</a></li>-->
<!--              <li><a href="#">Facebook</a></li>-->
<!--            </ol>-->
<!--          </div>-->
        </aside><!-- /.blog-sidebar -->
      </div><!-- /.row -->
 </main><!-- /.container -->

  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-providers/1.10.1/leaflet-providers.min.js" integrity="sha256-EV/ywRtxUOBICwOsLtPpYEONoBF6g+ShAcLX1Ts48GA=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/@ansur/leaflet-pulse-icon@0.1.1/dist/L.Icon.Pulse.js"></script>

  <div id="map" class="container" style="height:400px"></div>

  {{ all_places|json_script:"places-geojson" }}
  <script>
    var map = L.map('map');
    map.setView([51.6720400, 39.1843000], 11);

    L.tileLayer.provider('OpenStreetMap.Mapnik').addTo(map);

    function loadJSON(elementId){
      let element = document.getElementById(elementId);

      return JSON.parse(element.textContent);
    }

    let places = loadJSON('places-geojson');

    L.geoJSON(places, {
        pointToLayer: function(geoJsonPoint, latlng) {
          if (geoJsonPoint.geometry.type != "Point"){
            return
          }

          let color = geoJsonPoint.properties.color || 'orange';

          var pulsingIcon = L.icon.pulse({
            iconSize: [12, 12],
            color: color,
            fillColor: color,
            heartbeat: 2.5,
          });

          let marker = L.marker(latlng, {
            icon: pulsingIcon,
            riseOnHover: true,
          });

          marker.bindTooltip(geoJsonPoint.properties.address);
          return marker;
        }
    }).addTo(map);
  </script>
    <footer class="footer-area section-padding">
    <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
      <p class="footer-text m-0">
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
      </p>
    </div>
  </footer>

{% endblock  %}
