{% extends 'storage_rental/base.html' %}
{% load static %}

{% block header %}
<title>Self Storage - Аренда боксов</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">Аренда бокса</h1>
    <form method="post">
        {% csrf_token %}
        <div class="row">
          {% for field in form  %}
            {% if field.name not in 'total_price,discount' %}
              <div class="my-2">
                {{ field.label_tag }} {{ field }}
                <span class="red">{{ field.errors }}</span>
              </div>
            {% else %}
              {{field}}
            {% endif%}
          {% endfor %}
        </div>

        <p class="my-3">
            <button class="btn btn-outline-dark" type="button" onclick="checkPromocode()">
                Применить промокод
            </button>
            <strong class="mx-2">
                Скидка по промокоду: <span id="discount_label">0</span>%
            </strong>
        </p>

        <p class="my-4 float-end">
            <strong>Сумма заказа: <span id="total_price_label">0</span></strong>
        </p>

        <button class="btn btn-dark my-3" type="submit">
            Арендовать
        </button>
    </form>

    {{ storages|json_script:"all_storages" }}
    {{ promocodes|json_script:"all_promocodes" }}

    <script type="text/javascript" src="{% static 'js/rental_order.js' %}"></script>
</div>
{% endblock %}