{% extends 'storage_rental/base.html' %}
{% load static %}

{% block header %}
<title>Self Storage - Сезонное хранение</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">Сезонное хранение</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-dark my-3" type="submit">
            Сдать на хранение
        </button>
    </form>

    <p class="mt-1 mb-3">
        <strong>Итоговая сумма: <span id="totalPrice">0</span></strong>
    </p>

    <p class="my-3">
        <button class="btn btn-outline-dark" onclick="checkPromocode()">
            Применить промокод
        </button>
        <span class="ml-2" id="discount">
        </span>
    </p>

    <div class="my-3" id="item_details" style="display: none;">
        <p id="item_price_details"></p>
        <img class="mt-1" width="400px;" height="400px;" id="item_img"/>
    </div>

    <script>
        const allItems = JSON.parse("{{ items|escapejs }}");
        const allPromocodes = JSON.parse("{{ promocodes|escapejs }}");

        const today = new Date().toISOString().slice(0, 10)

        const itemEl = document.querySelector("#item");
        const durationEl = document.querySelector("#duration");
        const quantityEl = document.querySelector("#quantity");
        const totalPriceEl = document.querySelector("#totalPrice");

        const itemImageEl = document.querySelector("#item_img");
        const itemDetailsEl = document.querySelector("#item_details");
        const itemPriceDetailsEl = document.querySelector("#item_price_details");
        const promocodeEl = document.querySelector("#promocode");
        const discountEl = document.querySelector("#discount");

        [itemEl, quantityEl, durationEl].forEach(item => {
            item.addEventListener('change', event => {
                updateItemDetais();
            })
        })

        let currentDiscount = 0;
        let week_price;
        let month_price;
        let duration;
        let quantity;
        let currentItem;

        const calculateTotalPrice = () => {
            currentItem = allItems[itemEl.value];

            if (currentItem){
                week_price = currentItem.week_storage_price;
                month_price = currentItem.month_storage_price;
                duration = durationEl.value;
                quantity = quantityEl.value;

                totalPriceEl.innerHTML = duration < 4
                        ? (1 - currentDiscount/100) * quantity * duration * week_price
                        : (1 - currentDiscount/100) * quantity * Math.floor(duration / 4) * month_price
            } else {
                totalPriceEl.innerHTML = 0;
            }
        }

        const checkPromocode = () => {
            currentPromocode = allPromocodes[promocodeEl.value];

            if (currentPromocode) {
                startDate = currentPromocode.start_date;
                endDate = currentPromocode.end_date;
                isActive = today > startDate && today < endDate;

                if (isActive) {
                    currentDiscount = currentPromocode.discount;
                    discountEl.innerHTML = "Скидка по промокоду: " +
                        currentDiscount + "%";
                }
            } else {
                currentDiscount = 0;
                discountEl.innerHTML = "";
            }

            calculateTotalPrice();
        }

        const updateItemDetais = () => {
            currentItem = allItems[itemEl.value]

            if (currentItem) {
                week_price = currentItem.week_storage_price;
                month_price = currentItem.month_storage_price;

                itemDetailsEl.style.display = 'block';
                itemImageEl.setAttribute('src', 'media/' + currentItem.image);
                itemPriceDetailsEl.innerHTML =
                    'Стоимость хранения за единицу: ' + week_price +
                    ' руб/неделю, ' + month_price + ' руб/месяц';
            } else {
                itemDetailsEl.style.display = 'none';
            }

            calculateTotalPrice();
        }
    </script>

</div>


{% endblock %}