{% extends 'storage_rental/base.html' %}
{% load static %}

{% block header %}
<title>Self Storage - Сезонное хранение</title>
{% endblock %}

{% block content %}
<div class="container">
    <br>
    <h1>Сезонное хранение</h1>
    <br>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-outline-dark" type="submit">Сдать на
            хранение</button>
    </form>

    <br>
    <strong>Итоговая сумма: <span id="totalPrice">0</span></strong>
    <br>

    <div id="item_details" style="display: none;">
        <br/>
        <img width="400px;" height="400px;" id="item_img"/>
        <br/>
        <p id="item_price_details"></p>
    </div>

    <script>
        const all_items = JSON.parse("{{ items|escapejs }}");

        const itemEl = document.querySelector("#item");
        const durationEl = document.querySelector("#duration");
        const quantityEl = document.querySelector("#quantity");
        const totalPriceEl = document.querySelector("#totalPrice");

        const itemImageEl = document.querySelector("#item_img");
        const itemDetailsEl = document.querySelector("#item_details");
        const itemPriceDetailsEl = document.querySelector("#item_price_details");

        [itemEl, quantityEl, durationEl].forEach(item => {
            item.addEventListener('change', event => {
                updatePageElements();
            })
        })

        const updatePageElements = () => {
            let item = all_items[itemEl.value]

            if (item) {
                let week_price = item.week_storage_price
                let month_price = item.month_storage_price
                let duration = durationEl.value
                let quantity = quantityEl.value

                totalPriceEl.innerHTML = duration < 4
                        ? quantity * duration * week_price
                        : quantity * Math.floor(duration / 4) * month_price

                itemDetailsEl.style.display = 'block';
                itemImageEl.setAttribute('src', item.image)
                itemPriceDetailsEl.innerHTML = 'Стоимость хранения за ед. ' + week_price + ' руб/неделю, ' + month_price + ' руб/месяц'
            }
            else {
                totalPriceEl.innerHTML = 0
                itemDetailsEl.style.display = 'none';
            }
        }
    </script>

</div>


{% endblock %}