{% extends 'storage_rental/base.html' %}
{% load static %}

{% block header %}
    <title>Self Storage - Сезонное хранение</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">Сезонное хранение</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-dark my-3" type="submit">
            Сдать на хранение
        </button>
    </form>

    <p class="mt-1 mb-3">
        <strong>Итоговая сумма: <span id="total_price_label">0</span></strong>
    </p>

    <p class="my-3">
        <button class="btn btn-outline-dark" onclick="checkPromocode()">
            Применить промокод
        </button>
        <strong class="ml-2">
            Скидка по промокоду: <span id="discount_label">0</span>%
        </strong>
    </p>

    <div class="my-3" id="item_details" style="display: none;">
        <p id="item_price_details"></p>
        <img class="mt-1" width="400px;" height="400px;" id="item_img"/>
    </div>

    {{ items|json_script:"all_items" }}
    {{ promocodes|json_script:"all_promocodes" }}

</div>

<script type="text/javascript" src="{% static 'js/storing_order.js' %}"></script>

{% endblock %}