{% extends 'storage_rental/base.html' %}
{% load static %}

{% block header %}
<title>Self Storage - Спасибо за заказ</title>
{% endblock %}

{% block content %}
<div class="container my-3">
    <div class="card">
      <div class="form-title">
        <h2 class="bold">Спасибо за бронирование</h2>
      </div>
      <div class="card-body">
        <p>Оплата принята. Вам на почту в течение следующих нескольких минут придёт письмо с QR кодом доступа и подробными инструкциями как пользоваться арендованным местом.</p>
        <form action="{% url 'index' %}">
            <button class="btn btn-warning" type="submit">Вернуться на главную</button>
        </form>
      </div>
    </div>
</div>

{% endblock %}